$primary-font: Roboto, sans-serif;
$accent-color: #ff6b08;
$alert-color: #ff001b;
$primary-font-size: 12px;
$font-size-logo: 30px;
$header-text-color: #ffffff;
$main-text-color: #000000;
$footer-text-color: #545454;
$about-text-color: #8c8c8c;
$header-background-color: rgba(0, 0, 0, 0.56);
$footer-background-color: #f7f7f7;
