.year-search {
  width: 50px;
  border-radius: 5px;
  border: 0;
  text-align: center;
  outline: none;
}

.parametr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.genre-wrapper,
.sort-wrapper,
.year-wrapper,
.clear-btn {
  color: white;
}

.category-list,
.sort-list,
.year-list {
  position: absolute;
  z-index: 4;
}

.year-list {
  width: 50px;
  height: 100px;
  overflow: hidden;
  overflow-y: scroll;
}

.category-list-item,
.sort-list-item,
.year-list-item {
  background-color: black;
  &:hover {
    cursor: pointer;
    background-color: $accent-color;
  }
}

.search-btn {
  color: white;
  font-size: 15px;
}

.sort,
.genre,
.year,
.clear-btn {
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 9px;
  font-weight: 500;
}

.sort {
  width: 91px;
}

.sort:hover,
.genre:hover,
.year:hover,
.clear-btn:hover {
  bgc
  cursor: pointer;
  border-radius: 9px 9px 0 0;
  border: 1px solid transparent;
}

.sort-list-item {
  padding: 5px;
  background-color: white;
  color: black;
  border: 1px solid;
}
