.film-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;

    & .film-name {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        margin-top: 12px;
        color: $main-text-color;
    }

    & .film-about {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: $accent-color;
    }
}

.film-list-item {
    margin-top: 22px;
        
    & picture {
        width: 280px;
        height: 402px;
    }
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    &>.arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        color: currentColor;

        border: 0px;
        background-color: $footer-background-color;
        border-radius: 5px;
        transition: all 500ms ease;
    }

    .number {
        background-color: white;
        border: 0px;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        transition: all 500ms ease;
    }
}

    .arrow:focus,
    .arrow:hover {
        background-color: $accent-color;
        fill: $header-text-color;
        outline: none;
    }

    .number:focus,
    .number:hover {
        background-color: $accent-color;
        color: $header-text-color;
        outline: none;
    }

    .mark {
        display: inline-block;
        background-color: $accent-color;
        color: white;
        width: 36px;
        height: 16px;
        text-align: center;
        border-radius: 5px;
    }

    @media screen and (min-width: 768px) {

        .film-list {
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 50px;
            padding-top: 29px;

            & .film-list-item {
                margin-top: 31px;

                & picture {
                    
                }
            }
        }

        .film-list-item:not(:nth-child(2n)) {

            @media screen and (max-width: 1199px) {
                margin-right: 30px;
            }
            
        }

        .pagination {
            width: 374px;
            margin-bottom: 60px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    @media screen and (min-width: 1200px) {

        .film-list-item {
            width: 274px;
        }

        .film-list-item:not(:nth-child(3n)) {
            margin-right: 30px;
        }

    }