.backdrop-btns {
  position: relative;
}
.backdrop-btns > .wrap-for-btns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: all 500ms ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  & .backdrop-btn {
    opacity: 0;
    align-items: center;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.33;
    background-color: $header-text-color;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    transition: all 500ms ease;
    &:hover,
    :focus {
      color: $header-text-color;
      background-color: $accent-color;
      border: none;
    }
  }
}
.backdrop-btn:first-child {
  margin-bottom: 5px;
}
.wrap-for-btns:hover > .backdrop-btn {
  opacity: 1;
}
.card-text-wrap {
  padding: 5px;
}
.main-section {
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
}

main {
  position: relative;
}
.container.main {
  padding-top: 20px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}

.stop-scroll {
  overflow: hidden;
}

.film-list {
  opacity: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  transition: all 500ms linear;
  &.show {
    opacity: 1;
  }

  & .film-name {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    margin-bottom: 4px;
    color: $main-text-color;
  }

  & .film-about {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $accent-color;
  }
}
.film-list-item:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.film-list-item {
  border-radius: 5px;
  @media screen and (max-width: 767px) {
    &:not(:nth-child(-n + 1)) {
      margin-top: 22px;
    }
  }

  width: 280px;

  .film-image {
    border-radius: 5px;
    width: 100%;
  }

  & picture {
    height: 402px;
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  & > .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: currentColor;

    border: 0px;
    background-color: $footer-background-color;
    border-radius: 5px;
    transition: all 500ms ease;
  }

  .number {
    display: inline-block;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    transition: all 500ms ease;
  }
}

.arrow:focus,
.arrow:hover {
  background-color: $accent-color;
  fill: $header-text-color;
  outline: none;
}

.number:focus,
.number:hover {
  background-color: $accent-color;
  color: $header-text-color;
  outline: none;
}

.mark {
  display: inline-block;
  margin-left: 10px;
  background-color: $accent-color;
  color: white;
  width: 36px;
  height: 16px;
  text-align: center;
  border-radius: 5px;
}

.is-active {
  background-color: $accent-color;
  color: $header-text-color;
}
.film-list-item {
  &:not(:nth-child(-n + 2)) {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      margin-top: 31px;
    }
  }
  &:not(:nth-child(-n + 3)) {
    @media screen and (min-width: 1024px) {
      margin-top: 31px;
    }
  }
}

@media screen and (min-width: 768px) {
  .film-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    // padding-top: 29px;

    & .film-list-item {
      @media screen and (max-width: 1023px) {
        width: 294px;
      }

      & picture {
        width: 100%;
      }
    }
  }

  .film-list-item:not(:nth-child(2n)) {
    @media screen and (max-width: 1023px) {
      margin-right: 30px;
    }
  }

  .pagination {
    width: 374px;
    margin-bottom: 60px;
  }

  main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .film-list-item {
    width: 274px;

    & picture {
      width: 100%;
    }
  }

  .film-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.film-list-item:hover {
  cursor: pointer;
}
