#to-top {
  position: fixed;
  z-index: 1000;
  bottom: 10vh;
  right: 10vh;
  width: 70px;
  height: 70px;
  // border: 1px solid $accent-color;
  border-radius: 50%;
  background-color: $accent-color;
  box-shadow: 0 0 6px rgba(255, 0, 27, 0.6);
  transition: 250ms linear;
  &.hide {
    transform: scale(0);
  }
  &::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-left: 4px solid white;
    border-top: 4px solid white;
    border-radius: 2px;
    transform: translate(-50%, -40%) rotate(45deg);
  }
  &:hover{
    cursor: pointer;
    box-shadow: 0 0 12px #b94e06;
    transform: scale(1.1);
  }
  &.hide:hover{
    pointer-events: none;
  }
}

